<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
  

<div class="jumbotron text-center">
  <div class="container">
   <iframe src="<%= link %>" width="640px" height="360px" allowfullscreen="true" webkitallowfullscreen="true" frameborder="0" msallowfullscreen="true" scrolling="no"></iframe>
   <%= link %>
   <div id="playerContainer"  style="display:block;position:relative;width:100%;height:100%;"> </div>
   </div>
</div>


</body>
</html>
