<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
   <iframe src=<%= link %> width="640px" height="360px" allowfullscreen="true" webkitallowfullscreen="true" frameborder="0" msallowfullscreen="true" scrolling="no"></iframe>
   <%= link %>
   </div>
</div>


</body>
</html>
